@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron homePage">
    <h1>Wardrobe</h1>
    <p class="lead">Want to organize your closet but also remain a lazy couch potato? This site is great at giving the illusion of productiveness. Organize your closet fro, your phone and then reward yourself with cake afterwards. Or during. I'm not a cop.</p>
</div>

<div class="mobile" role="alert">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    ||| @Html.ActionLink("See Wardrobe", "Index", "Items")|||
</div>
